<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
		xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 

http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee 

http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
 http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd">


	<!--导入与CXF框架有关的xml文件-->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	 <http-conf:destination name="*.http-destination">  
        <http-conf:server ReceiveTimeout="30000"/>  
    </http-conf:destination>  
    
	<!-- DB配置文件读入-->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					classpath:com/zihexin/wtc/cfg/ibatis/*.properties
				</value>
			</list>
		</property>
	</bean>

	<!-- Main JNDI DataSource for WebLogic environments -->
	<jee:jndi-lookup id="dataSource" jndi-name="bus_inter" />


	<!--
		oracle配置 <bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close"> <property name="jdbcUrl"
		value="${oracleFinanceWebService.jdbcUrl}"/> <property
		name="driverClass" value="${oracleFinanceWebService.driverClass}"/>
		<property name="user" value="${oracleFinanceWebService.user}"/>
		<property name="password"
		value="${oracleFinanceWebService.password}"/> <property
		name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"/>
		<property name="idleConnectionTestPeriod"
		value="${c3p0.idleConnectionTestPeriod}"/> <property
		name="acquireIncrement" value="${c3p0.acquireIncrement}"/> <property
		name="maxPoolSize" value="${c3p0.maxPoolSize}"/> <property
		name="minPoolSize" value="${c3p0.minPoolSize}"/> <property
		name="maxStatements" value="${c3p0.maxStatements}"/> <property
		name="testConnectionOnCheckin"
		value="${c3p0.testConnectionOnCheckin}"/> <property
		name="numHelperThreads" value="${c3p0.numHelperThreads}"/> <property
		name="initialPoolSize" value="${c3p0.initialPoolSize}"/> </bean>
	-->

	<!-- iBATIS 映射文件管理器工厂类 -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation"
			value="classpath:com/zihexin/wtc/cfg/ibatis/SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="baseDao" abstract="true"
		class="com.zihexin.wtc.common.dao.impl.BaseDao">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean class="com.zihexin.wtc.common.Loader"></bean>

	<bean id="wtcReadPropertiesDao" class="com.zihexin.wtc.dao.WTCReadPropertiesDao"
		parent="baseDao" />


	<bean id="wtcWebServiceImpl"
		class="com.zihexin.wtc.WebService.WTCWebServiceImpl">
		<property name="wtcReadPropertiesDao" ref="wtcReadPropertiesDao" /> 
	</bean>

	<!-- 发布业务服务端接口-->
	<jaxws:endpoint id="WtcWebService" implementor="#wtcWebServiceImpl"
		address="/wtcWebService">
	</jaxws:endpoint>
    
  
</beans> 